/* Empty. Add your own CSS if you like */

tr{
    border-spacing: 0;
    height:44px;
    border-bottom: 1px solid #000000;
    margin-left:5px;
    width:150%;
    font-size:25px;
    
}
table{
    margin-left:-10px;
    border-collapse: collapse;
    width:120%;
}
.navBar{
    background-color:#5773FB;
    width:110%;
    margin-left:-10px;
    height:50px;
}
.plusButton{
    color:#FFFFFF;
    font-size:50px;
    float:right;
    margin-right:20px;
    text-decoration:none;
}
.backButton{
    color:#FFFFFF;
    font-size:20px;
    float:left;
    margin-top:5px;
    margin-left:5px;
    text-decoration:none;
}
.textField{
    width:92%;
    align:center;
    font-size:25px;
    height:25px;
}
.submitButton{
    width:100%;
    align:center;
    height:30px;
}

